.banBox {
  width: 100%;
  height: 7rem;
  margin-bottom: 0;
  margin-top: 3rem;

  img {
    width: 100%;
    height: 100%;
  }
}


.qa {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .fqaBox {
    width: 100%;
    // margin: 0 auto;

    button {
      border-radius: 5px;
      width: 100%;
      height: 50px;
      border: none;
      background: #6a769a;
      cursor: pointer;
      position: relative;

      span {
        font-family: "Noto Sans JP", sans-serif;
        font-weight: 700;
        margin-left: 36px;
        text-align: left;
        display: block;
        width: 60vw;
        word-wrap: break-word;
        color: #fff;
        font-size: 16px;
      }

      &::before {
        content: "Q";
        font-family: "Noto Serif", serif;
        font-weight: 600;
        color: #fff;
        font-size: 24px;
        position: absolute;
        left: 12px;
        top: 15%;
      }

      &::after {
        right: 16px;
        top: 30%;
        rotate: 135deg;
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 3px solid #f7d954;
        border-right: 3px solid #f7d954;
        content: "";
      }
    }
  }

  .answerBox {
    max-height: 0;
    overflow: hidden;
    background: #ebedf5;
    border-radius: 0 0 5px 5px;
    margin: -5px 0 8px;
    max-width: 100%;
    padding: 0 8px 0;
    transition: all 0.3s ease;

    p {
      margin: 0;
      padding: 0;
    }

    &.isOpen {
      max-height: 40vh;
      padding: calc(8px + 5px) 8px 8px;
    }
  }
}

.btnBox {
  width: 100%;
  text-align: center;
  margin-bottom: 5rem;

  .btn {
    width: 12rem;
    height: 2.5rem;
    background-color: #264CB5;
    border: none;
    border-radius: 5px;
    color: #ffffff;
  }
}

.bannerBox {
  width: 390px;
  height: 120px;
  border-top: 5px solid #f7d954;
  margin-top: 5rem;

  img {
    width: 390px;
    height: 120px;
  }
}

.qaBlock {
  width: 100%;
  // margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .5rem;


  .qaItem {
    // margin-bottom: 8px;
    list-style: none;


    .qaHead {
      border-radius: 5px;
      width: 100%;
      height: 50px;
      border: none;
      background: #6a769a;
      cursor: pointer;
      position: relative;

      span {
        font-family: "Noto Sans JP", sans-serif;
        font-weight: 700;
        margin-left: 36px;
        text-align: left;
        display: block;
        width: 60vw;
        word-wrap: break-word;
        color: #fff;
        font-size: 16px;
      }

      &::before {
        content: "Q";
        font-family: "Noto Serif", serif;
        font-weight: 600;
        color: #fff;
        font-size: 24px;
        position: absolute;
        left: 12px;
        top: 15%;
      }

      &::after {
        right: 16px;
        top: 30%;
        rotate: 135deg;
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 3px solid #f7d954;
        border-right: 3px solid #f7d954;
        content: "";
      }
    }

    .qaBody {
      max-height: 0;
      overflow: hidden;
      background: #ebedf5;
      border-radius: 0 0 5px 5px;
      margin: -5px 0 8px;
      max-width: 100%;
      padding: 0 8px 0;
      transition: all 0.3s ease;

      p {
        margin: 0;
        padding: 0;
      }

      &.isOpen {
        max-height: 40vh;
        padding: calc(8px + 5px) 8px 8px;
      }
    }
  }
}