#wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;

    .mainVue {
        width: 100%;
        height: 7rem;
        margin-top: 1.6rem;

        & img {
            width: 100%;
            height: 100%;
        }
    }

    .contentBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;

        .box {
            width: 15rem;
            height: 15rem;
            border: 5px solid #F7D954;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &>figure {
                width: 8rem;
                height: 8rem;
                margin: 0;
                padding: 0;
                padding-bottom: 1rem;

                & img {
                    width: 100%;
                    height: 100%;
                }
            }

            &>p {
                font-size: .8rem;
                margin: 0 1rem;
                text-align: center;
            }
        }
    }

    .btnBox {
        width: 100%;
        height: 5rem;
        text-align: center;

        .btn {
            width: 12rem;
            height: 2.5rem;
            background-color: #264CB5;
            border: none;
            color: #ffffff;
            border-radius: 5px;
        }
    }

    .bannerBox {
        width: 100%;
        height: 8rem;
        margin-top: 3rem;
        padding-top: 3rem;
        border-top: 5px solid #F7D954;

        img {
            width: 390px;
            height: 120px;
        }
    }
}