@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700&family=Noto+Serif:wght@600&display=swap");
.bannerBox {
  width: 100%;
  height: auto;
}
.bannerBox img {
  width: 100%;
  height: auto;
}

.fqaBox {
  width: 96%;
  margin: 0 auto;
}
.fqaBox button {
  border-radius: 5px;
  width: 100%;
  height: 50px;
  border: none;
  background: #6a769a;
  cursor: pointer;
  position: relative;
}
.fqaBox button span {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  margin-left: 36px;
  text-align: left;
  display: block;
  width: 60vw;
  word-wrap: break-word;
  color: #fff;
  font-size: 16px;
}
.fqaBox button::before {
  content: "Q";
  font-family: "Noto Serif", serif;
  font-weight: 600;
  color: #fff;
  font-size: 24px;
  position: absolute;
  left: 12px;
  top: 15%;
}
.fqaBox button::after {
  right: 16px;
  top: 30%;
  rotate: 135deg;
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 3px solid #f7d954;
  border-right: 3px solid #f7d954;
  content: "";
}
.fqaBox .answerBox {
  max-height: 0;
  overflow: hidden;
  background: #ebedf5;
  border-radius: 0 0 5px 5px;
  margin: -5px 0 8px;
  max-width: 100%;
  padding: 0 8px 0;
  transition: all 0.3s ease;
}
.fqaBox .answerBox.isOpen {
  max-height: 40vh;
  padding: 13px 8px 8px;
}